<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8" />
  <title>G2 Database</title>
  <%= stylesheet_pack_tag "bootstrap" %>
</head>
<body>

<%= yield %>

<%= javascript_pack_tag "application" %>

</body>
</html>
